.userProfile {
  transition: ease 5s;
  min-width: 350px;
  max-width: 1280px;
  background: #252525;
  color: white;
  border-radius: 20px;
}
.userProfile--summary, .userProfile--libraries {
  margin: auto;
  padding: 15px;
  font-size: 35px;
  font-weight: 500;
}

.profileHeader {
  border-radius: 20px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.profileHeader--avatarCard {
  transition: ease 2s;
  background: rgba(0, 0, 0, 0.6);
  margin: 25px;
  border-radius: 15px;
  max-width: 300px;
}
.profileHeader--avatarCard-username {
  font-size: 20px;
  margin: 15px;
  font-weight: 500;
}
.profileHeader--backgroundSRC {
  font-size: 14px;
  margin-left: 25px;
}
.profileHeader img {
  vertical-align: middle;
  width: 130px;
  margin-top: 10px;
  border-radius: 50%;
  border: 3px white solid;
}

.categoryCard {
  margin: 10px;
  width: 20%;
  transition: ease 0.1s;
}
.categoryCard .categoryCard--icon img {
  width: 70px;
  height: 70px;
}
.categoryCard--title {
  width: 100%;
  font-weight: 400;
  font-size: 25px;
}
.categoryCard--number {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
}
.categoryCard--content {
  background: #222222;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

.categoryCard:hover {
  transform: scale(1.05);
}

.categoryCard:active {
  transform: scale(1);
}

.profileButtonsBar,
.librariesButtonsBar {
  width: 100%;
  min-height: 250px;
  justify-content: space-around;
  align-items: center;
  background: #303030;
}

.librariesButtonsBar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

.libraryCard {
  width: 500px;
  height: 320px;
  transition: ease 0.1s;
}
.libraryCard--title {
  margin: 0;
  padding: 5px;
  font-size: 22px;
  font-weight: 800;
}
.libraryCard--content {
  margin: 1%;
  width: 98%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.libraryCard--content-total {
  background: rgba(0, 0, 0, 0.6);
  font-size: 26px;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 10px;
}
.libraryCard--content-number {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
.libraryCard--backgroudSRC {
  text-align: left;
  margin: 1%;
  color: #999;
  font-size: 14px;
}

.libraryCard:hover {
  transform: scale(1.01);
}

.libraryCard:active {
  transform: scale(1);
}

@media (max-width: 1000px) {
  .categoryCard {
    min-width: 250px;
    margin: 10px;
  }
  .profileButtonsBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .categoryCard {
    min-width: 80%;
  }
  .categoryCard--icon img {
    width: 2%;
    height: 20px;
  }
  .profileHeader {
    flex-direction: column;
    align-items: center;
    transition: ease 5s;
  }
  .profileHeader--backgroundSRC {
    margin-left: 0;
  }
  .profileHeader--avatarCard {
    transform: translate(0);
  }
  .libraryCard {
    width: 98%;
  }
}/*# sourceMappingURL=userProfile.css.map */