.gameDetails__fullPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
}

.gameDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
}
.gameDetails .gameDetails__mainElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gameDetails .gameDetails__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b1a1a;
  border-radius: 30px;
  margin: 0 auto auto 3%;
}
.gameDetails .gameDetails__container .gameDetails__image {
  width: 100%;
  height: 350px;
  margin: 0 0 2% 0;
}
.gameDetails .gameDetails__container .gameDetails__image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
  height: 100%;
  width: 100%;
}
.gameDetails .gameDetails__container .gameDetails__rating {
  position: absolute;
  color: white;
  font-size: 28px;
  width: 40px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  background-color: #66cc33;
  margin: 0 auto;
  padding: 12px;
}
.gameDetails .gameDetails__container .gameDetails__title {
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2% auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__releaseDate h1 {
  text-align: center;
  font-size: 28px;
  color: #757575;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__releaseDate p {
  color: rgba(255, 255, 255, 0.705);
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__releaseDate img {
  width: 32px;
  height: 32px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__developer h1 {
  text-align: center;
  font-size: 28px;
  color: #757575;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__developer p {
  color: rgba(255, 255, 255, 0.705);
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__developer img {
  width: 32px;
  height: 32px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__developer p {
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__developer p:hover {
  color: #ffffff;
  font-size: 23px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__platforms h1 {
  text-align: center;
  font-size: 28px;
  color: #757575;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__platforms p {
  color: rgba(255, 255, 255, 0.705);
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__platforms img {
  width: 32px;
  height: 32px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__platforms .platforms__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__genre h1 {
  text-align: center;
  font-size: 28px;
  color: #757575;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__genre p {
  color: rgba(255, 255, 255, 0.705);
  font-weight: 600;
  text-align: center;
  font-size: 22px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__genre img {
  width: 32px;
  height: 32px;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__genre .genre__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__genre p {
  margin: 0 auto 15% auto;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.gameDetails .gameDetails__container .gameDetails__infoContainer .infoContainer__genre p:hover {
  color: #ffffff;
  font-size: 23px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer {
  border-top: 2px solid white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 20%;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__completed {
  outline: none;
  border: none;
  margin: 2% auto;
  background-color: rgba(15, 15, 15, 0.7254901961);
  border-radius: 15px;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__completed img {
  width: 48px;
  height: 48px;
  margin: 5% auto;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__completed button {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 24px;
  background: none;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__completed button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(15, 15, 15, 0.9176470588);
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__playing {
  outline: none;
  border: none;
  margin: 2% auto;
  background-color: rgba(15, 15, 15, 0.7254901961);
  border-radius: 15px;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__playing img {
  width: 48px;
  height: 48px;
  margin: 5% auto;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__playing button {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 24px;
  background: none;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__playing button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(15, 15, 15, 0.9176470588);
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__inPlans {
  outline: none;
  border: none;
  margin: 2% auto;
  background-color: rgba(15, 15, 15, 0.7254901961);
  border-radius: 15px;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__inPlans img {
  width: 48px;
  height: 48px;
  margin: 5% auto;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__inPlans button {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 24px;
  background: none;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__inPlans button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(15, 15, 15, 0.9176470588);
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__abandoned {
  outline: none;
  border: none;
  margin: 2% auto;
  background-color: rgba(15, 15, 15, 0.7254901961);
  border-radius: 15px;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__abandoned img {
  width: 48px;
  height: 48px;
  margin: 5% auto;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__abandoned button {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 24px;
  background: none;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gameDetails .gameDetails__container .gameDetails__buttonContainer .buttonContainer__abandoned button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(15, 15, 15, 0.9176470588);
}
.gameDetails .gameDetails__container .gameDetails__addToLibrary {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35%;
  color: white;
  background-color: rgba(15, 15, 15, 0.7254901961);
  border-radius: 15px;
}
.gameDetails .gameDetails__container .gameDetails__addToLibrary button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  font-size: 28px;
  background: none;
  border-radius: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.gameDetails .gameDetails__container .gameDetails__addToLibrary button:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: rgba(15, 15, 15, 0.9176470588);
}
.gameDetails .gameDetails__container .gameDetails__addToLibrary img {
  width: 42px;
  height: 42px;
  margin: 4% 2% 1% 0;
}
.gameDetails .gameDetails__container .gameDetails__screenshotsTitle {
  margin: 0 auto;
  width: 95%;
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
}
.gameDetails .gameDetails__container .gameDetails__screenshotsTitle h1 {
  font-weight: 400;
}
.gameDetails .gameDetails__container .gameDetails__screenshotsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% auto;
  width: 95%;
  height: 300px;
  background-color: #0c0b0b;
  border-radius: 10px;
}
.gameDetails .gameDetails__container .gameDetails__screenshotsContainer img {
  max-width: 100%;
  border-radius: 5px;
  margin: 4% auto;
  max-width: 48%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gameDetails .gameDetails__container .gameDetails_descriptionTitle {
  margin: 0 auto;
  width: 95%;
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
}
.gameDetails .gameDetails__container .gameDetails_descriptionTitle h1 {
  font-weight: 400;
}
.gameDetails .gameDetails__container .gameDetails_description {
  text-align: center;
  margin: 0% auto;
  width: 95%;
  color: white;
}
.gameDetails .gameDetails__container .gameDetails_description h1 {
  font-weight: 300;
  font-size: 24px;
}