.sidebar {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 17px 20px;
}
.sidebar .sidebar__titles {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  margin: 15% auto;
}
.sidebar .sidebar__allGames {
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 22px;
  outline: none;
  border: none;
  height: 40px;
  width: 140px;
  margin: 0 auto;
  background-color: #1f1e1e;
  border-radius: 25px;
  transition: 0.6s;
}
.sidebar .sidebar__allGames:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__bestOfAllTime {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/bestOf-icon.svg");
}
.sidebar .sidebar__bestOfAllTime:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__popular2023 {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/popular-icon.svg");
}
.sidebar .sidebar__popular2023:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__last30Days {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/last30days-icon.svg");
}
.sidebar .sidebar__last30Days:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__comingSoon {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/comingSoon-icon.svg");
}
.sidebar .sidebar__comingSoon:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__windows {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/windows-icon.svg");
}
.sidebar .sidebar__windows:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__playstation5 {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 64px 64px;
  background-position: 40px -5px;
  background-image: url("../images/playstation5_icon.svg");
}
.sidebar .sidebar__playstation5:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__xboxSeries {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 64px 64px;
  background-position: 38px -5px;
  background-image: url("../images/xboxSeries-icon.svg");
}
.sidebar .sidebar__xboxSeries:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__xboxOne {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/xboxOne-icon.svg");
}
.sidebar .sidebar__xboxOne:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__playstation4 {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 80px 80px;
  background-position: 28px -10px;
  background-image: url("../images/playstation4_icon.svg");
}
.sidebar .sidebar__playstation4:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__playstation3 {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 72px 72px;
  background-position: 32px -8px;
  background-image: url("../images/playstation3_icon.svg");
}
.sidebar .sidebar__playstation3:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__playstation2 {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 72px 72px;
  background-position: 32px -8px;
  background-image: url("../images/playstation2_icon.svg");
}
.sidebar .sidebar__playstation2:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__playstation {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-position: 50px 8px;
  background-image: url("../images/playstation_icon.svg");
}
.sidebar .sidebar__playstation:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__xbox360 {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 72px 72px;
  background-position: 34px 0px;
  background-image: url("../images/xbox360_icon.svg");
}
.sidebar .sidebar__xbox360:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__xbox {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-size: 42px 42px;
  background-position: 48px 3px;
  background-image: url("../images/xbox_icon.svg");
}
.sidebar .sidebar__xbox:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__showAllPlatforms {
  cursor: pointer;
  background-color: #000000;
  color: #8f8d8d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  outline: none;
  height: 60px;
  padding-bottom: 30px;
  border: none;
  background-image: url("../images/expandMore_icon.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center top 30px;
  transition: background-color 1.3s ease-in-out;
}
.sidebar .sidebar__rpg {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/rpg-icon.svg");
}
.sidebar .sidebar__rpg:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__fps {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-position: 55px 5px;
  background-image: url("../images/fps-icon.svg");
}
.sidebar .sidebar__fps:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__adventure {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/adventure-icon.svg");
}
.sidebar .sidebar__adventure:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__action {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/action-icon.svg");
}
.sidebar .sidebar__action:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__strategy {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/strategy-icon.svg");
}
.sidebar .sidebar__strategy:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__indie {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/indie-icon.svg");
}
.sidebar .sidebar__indie:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__puzzle {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/puzzle-icon.svg");
}
.sidebar .sidebar__puzzle:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__racing {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/racing-icon.svg");
}
.sidebar .sidebar__racing:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__sports {
  transition: 0.6s;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  outline: none;
  border: none;
  height: 75px;
  width: 140px;
  background-color: #1f1e1e;
  border-radius: 25px;
  margin: 0 auto 20% auto;
  padding-top: 40px;
  background-size: 36px 36px;
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-position: center bottom 35px;
  cursor: pointer;
  background-image: url("../images/sports-icon.svg");
}
.sidebar .sidebar__sports:hover {
  transition: 0.6s;
  background-color: #080808;
}
.sidebar .sidebar__showAllGenres {
  margin: 0 0 5% 0;
  cursor: pointer;
  background-color: #000000;
  color: #8f8d8d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  outline: none;
  height: 60px;
  padding-bottom: 30px;
  border: none;
  background-image: url("../images/expandMore_icon.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center top 30px;
} /*# sourceMappingURL=Sidebar.css.map */
.sidebar_rankings {
  background: #111;
  border-radius: 15px;
  color: white;
}
.sidebar_rankings a {
  color: white;
}
