.userProfile {
	transition: ease 5s;
	min-width: 350px;
	max-width: 1280px;
	background: #252525;
	color: white;
	border-radius: 20px;
	&--summary,
	&--collections {
		margin: auto;
		padding: 15px;
		font-size: 35px;
		font-weight: 500;
	}
}
.profileHeader {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	background-position: center;
	background-size: cover;
	object-fit: cover;

	&--avatarCard {
		background: rgba(0, 0, 0, 0.6);
		margin: 25px;
		border-radius: 15px;
		max-width: 300px;
		min-width: 160px;
		&-username {
			font-size: 20px;
			margin: 15px;
			font-weight: 500;
		}
	}
	&--backgroundSRC {
		font-size: 14px;
		margin-left: 25px;
	}
	img {
		vertical-align: middle;
		width: 130px;
		margin-top: 10px;
		border-radius: 50%;
		border: 3px white solid;
	}
}

.categoryCard {
	margin: 10px;
	width: 20%;
	transition: ease 0.1s;
	transform: scale(0.85);
	.categoryCard--icon {
		img {
			padding-bottom: 10px;
			width: 80px;
			height: 80px;
		}
	}

	&--title {
		width: 100%;
		font-weight: 400;
		font-size: 25px;
	}
	&--number {
		width: 100%;
		font-weight: 700;
		font-size: 40px;
	}
	&--content {
		background: #222222;
		border-radius: 10px;
		margin: 0 10px;
	}
}
.categoryCard:hover {
	transform: scale(0.9);
}
.categoryCard:active {
	transform: scale(0.95);
}
.profileButtonsBar,
.collectionsButtonsBar {
	width: 100%;
	min-height: 210px;
	justify-content: space-around;
	align-items: center;
	background: #303030;
}
.collectionsButtonsBar {
	display: flex;
	flex-wrap: wrap;
	padding-top: 25px;
}
.collectionCard {
	width: 500px;
	height: 320px;
	transition: ease 0.1s;
	&--title {
		margin: 0;
		padding: 5px;
		font-size: 22px;
		font-weight: 800;
	}
	&--content {
		margin: 1%;
		width: 98%;
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background-position: 0% 0%;
		background-size: cover;

		&-total {
			background: rgba(0, 0, 0, 0.6);
			font-size: 26px;
			font-weight: 500;
			padding: 15px 25px;
			border-radius: 10px;
		}
		&-number {
			font-size: 36px;
			font-weight: 800;
			margin: 0;
		}
	}
	&--backgroudSRC {
		text-align: left;
		margin: 1%;
		color: #999;
		font-size: 14px;
	}
}
.collectionCard:hover {
	transform: scale(1.01);
}
.collectionCard:active {
	transform: scale(1);
}
@media (max-width: 999px) {
	.categoryCard {
		min-width: 230px;
		margin: 10px;
		transform: scale(0.8);
	}
	.profileButtonsBar {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
@media (max-width: 580px) {
	.categoryCard {
		min-width: 44%;
		&--icon {
			img {
				width: 2%;
				height: 20px;
			}
		}
	}
	.profileHeader {
		flex-direction: column;
		align-items: center;
		transition: ease 5s;
		&--backgroundSRC {
			margin-left: 0;
		}
		&--avatarCard {
			transform: translate(0);
		}
	}
	.collectionCard {
		width: 98%;
	}
}
