.userProfile {
  -webkit-transition: ease 5s;
  transition: ease 5s;
  min-width: 350px;
  max-width: 1280px;
  background: #252525;
  color: white;
  border-radius: 20px;
}
.userProfile--summary, .userProfile--collections {
  margin: auto;
  padding: 15px;
  font-size: 35px;
  font-weight: 500;
}

.profileHeader {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.profileHeader--avatarCard {
  background: rgba(0, 0, 0, 0.6);
  margin: 25px;
  border-radius: 15px;
  max-width: 300px;
  min-width: 160px;
}
.profileHeader--avatarCard-username {
  font-size: 20px;
  margin: 15px;
  font-weight: 500;
}
.profileHeader--backgroundSRC {
  font-size: 14px;
  margin-left: 25px;
}
.profileHeader img {
  vertical-align: middle;
  width: 130px;
  margin-top: 10px;
  border-radius: 50%;
  border: 3px white solid;
}

.categoryCard {
  width: 18%;
}
.categoryCard .categoryCard--icon img {
  margin: 10px 0;
  width: 70px;
  height: 70px;
}
.categoryCard--title {
  width: 100%;
  font-weight: 400;
  font-size: 22px;
}
.categoryCard--number {
  width: 100%;
  font-weight: 700;
  font-size: 34px;
}
.categoryCard--content {
  background: #222222;
  border-radius: 10px;
  margin: 0 3px;
}

.categoryCard:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.categoryCard:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.profileButtonsBar,
.collectionsButtonsBar {
  width: 100%;
  min-height: 210px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #303030;
}

.collectionsButtonsBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
}

.collectionCard {
  width: 500px;
  height: 320px;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}
.collectionCard--title {
  margin: 0;
  padding: 5px;
  font-size: 22px;
  font-weight: 800;
}
.collectionCard--content {
  margin: 1%;
  width: 98%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-position: 0% 0%;
  background-size: cover;
}
.collectionCard--content-total {
  background: rgba(0, 0, 0, 0.6);
  font-size: 26px;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 10px;
}
.collectionCard--content-number {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
.collectionCard--backgroudSRC {
  text-align: left;
  margin: 1%;
  color: #999;
  font-size: 14px;
}

.collectionCard:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.collectionCard:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 999px) {
  .categoryCard {
    min-width: 190px;
  }
  .profileButtonsBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 760px) {
  .categoryCard {
    min-width: 34%;
  }
}
@media (max-width: 570px) {
  .categoryCard--content {
    width: 100%;
  }
  .categoryCard--icon img {
    width: 2%;
    height: 20px;
  }
  .profileHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: ease 5s;
    transition: ease 5s;
  }
  .profileHeader--backgroundSRC {
    margin-left: 0;
  }
  .profileHeader--avatarCard {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .collectionCard {
    max-width: 500px;
  }
}